{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Made with love by Alya Isti Safira-->
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=3.0" id="viewport" name="viewport">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


        <!--Link to import fonts from google-->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin:normal,normalitalic,700normal,700italic">
        <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>

        <!--Link to import bootstrap and css-->

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'appsatu/story3-ppw.css'%}">

        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <!--script type="text/javascript" src="{% static 'appsatu/story3-ppw.js'%}"></script-->

        <!--add icon to title-->
        <link rel="icon" type="image/gif/png" href="https://i.imgur.com/RSYsjbw.jpg">

    </head>

    <body>
        {% block content %} {% endblock %}    
    </body>
</html>
