<div class="flex-footer">
	<h3>Let's get in touch.</h3>
	<div class="containercontacts">
			<a href="mailto:safiraalya@gmail.com" target="_blank"><img class="imgcontact" src="https://cdn3.iconfinder.com/data/icons/business-8/512/E-mail_open-512.png" alt="Email" width="40px" height= "40px"></a>
			<a href="https://www.facebook.com/alyaisti.safira" target="_blank"><img class="imgcontact" src="https://i.imgur.com/yZ7JzXV.png" alt="Facebook" width="40px" height= "40px"></a>
			<a href="https://www.instagram.com/alyaisti/" target="_blank"><img class="imgcontact" src="https://i.imgur.com/zxrMOJ8.png" alt="Instagram" width="40px" height= "40px"></a>
			<a href="https://line.me/ti/p/alyasfr" target="_blank"><img class="imgcontact" src="https://png.icons8.com/color/1600/line-me.png" alt="Line" width="40px" height= "40px"></a>
			<a href="https://gitlab.com/alyaisti/" target="_blank"><img class="imgcontact" src="https://i.imgur.com/emwnZr0.png" alt="Gitlab" width="40px" height= "40px"></a>
			<a href="https://www.linkedin.com/in/alyaisti/" target="_blank"><img class="imgcontact" src="https://i.imgur.com/ujmQbW9.png" alt="LinkedIn" width="40px" height= "40px"></a>
		</div>

	</div>
	