<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'appsatu/base.html' %}
		{% load staticfiles %}
		{% load static %}
		   <title>Eyebrow's Schedule!?</title>
		   

	</head>
	<body>
		{% block content %}

		<div id ="nav-placeholder">
				{% include "appsatu/navbar2.html" %}
				{% include "appsatu/navbarscript.html" %}
			</div>
		
		
		<!--Header-->
		<div class="tableform">
			<div class="container-fluid header5">
				<div class="d-flex flex-column bd-highlight mb-3">
					<div class="p-2 bd-highlight"><h1 class="text mb-0">My Schedule</h1></div>
					<hr>
				</div>
			</div>
				
			<section id="scheduleform">
				<div class="sched_form" style="color: white">
					<br><br>
					<form id="form", method="POST", action="{% url 'post' %}">
						{% csrf_token %}
						{{ message_post }}
						<br>
						<button type="submit", class="btn btn-primary", onclick="alert('It is submitted!')">Submit</button>
						
						<br><br><br>
					</form>
				</div>
			</section>

		</div>
		

		<div class="footer" id="eleventhpage">
			{% include "appsatu/contacts.html" %}
		</div>
		
		{% endblock %}
		

        
    </body>
</html>