<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'appsatu/base.html' %}
		{% load staticfiles %}
		{% load static %}
		<title>Eyebrow's Table</title>
	</head>

	<body style="background-color: #F1CE53">
		{% block judul %}
		<div id ="nav-placeholder">
			{% include "appsatu/navbar2.html" %}
			{% include "appsatu/navbarscript.html" %}
		</div>
		<div class="tableresult">
			<div class="container-fluid header6">
				<div class="d-flex flex-column bd-highlight mb-3">
					<div class="p-2 bd-highlight"><h1 class="text mb-0" style="color: black">Result Table</h1></div>
					<hr>
				</div>
			</div>
			{% endblock %}
				
			{% block content %}
			<table class="table">
				{% if tablesched %}
					<thead style="color: black; margin-left: 15%; margin-right: 15%" >
						<th>Activity</th>
						<th>Day</th>
						<th>Date</th>
						<th>Place</th>
						<th>Category</th>
					</thead>
					<tbody style="margin-left: 15%; margin-right: 15%">
						{% for i in tablesched %}
						{% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
						<tr class="warning"> {% else %} <tr class="success" style="margin-left: 15%; margin-right: 15%">
							{% endif %}
							<td> {{i.activityname}} </td>
							<td> {{i.day}} </td>
							<td> {{i.date}} </td>
							<td> {{i.place}} </td>
							<td> {{i.category}} </td>
						</tr>	
						{% endfor %}
					</tbody>
				{% else %}
					<h4 style="color: white">There's no upcoming events.</h4>
				{% endif %}
			</table>
			<div id="makebutton">
					<a href="{% url 'schedule' %}"><h3 style="color: black">Make a Schedule!</h3></a>
				</div>
			<div id="deletebutton">
				<a href="/delete"><h3 style="color: black">Delete Table</h3></a>
			</div>

		</div>

		<div class="footer" id="eleventhpage">
			{% include "appsatu/contacts.html" %}
		</div>
		{% endblock %}

    </body>
</html>