<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="#mainpage">Alya Isti</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="#header">HOME</a></li>
				<li><a href="#secondpage">ABOUT ME</a></li>
				<li><a href="#thirdpage">DESCRIPTION</a></li>
				<li><a href="#fourthpage">EDUCATION</a></li>
				<li><a href="#fifthpage">SKILLS</a></li>
				<li><a href="#sixthpage">EXPERIENCES</a></li>
				<li><a href="#ninthpage">ACHIEVEMENTS</a></li>
				<li><a href="{% url 'projects' %}">PROJECTS!</a></li>
				<li><a href="{% url 'guestpage' %}">GUEST PAGE</a></li>
				<li><a href="{% url 'schedule' %}">FORM</a></li>
				<li><a href="{% url 'table' %}">TABLE</a></li>
				<li><a href="#eleventhpage">CONTACT ME</a></li>

			</ul>
		</div>
	</nav>	