<!DOCTYPE html>
<html lang="en">
	<head>
    {% include 'appsatu/base.html' %}
    {% load staticfiles %}
    {% load static %}
	<title>Eyebrow's Guest Page!</title>
            
       
    </head>

    <body>



            <div id ="nav-placeholder">
                    {% include "appsatu/navbar2.html" %}
                    {% include "appsatu/navbarscript.html" %}
                </div>

        

        <div class="jumbotron" id="twelfthpage">
            <div class="form-group">
                    <label for="InputName">Name:</label>
                    <input class="form-control" type="text" id="InputName" placeholder="Your Name" required pattern="[A-Za-z]+" title="Name in Alphabet!" name="name">
                </div>
            <div class="form-group">
                    <label for="InputDate">Date:</label>
                    <input class="form-control" type="date" id="InputDate" placeholder="mm/dd/yyyy" required pattern="[A-Za-z]+" title="Date!" name="date">
            </div>
            <div class="form-group">
                <label for="InputEmail">Email:</label>
                    <input class="form-control" type="email" id="InputEmail" placeholder="Your Email" required="required" title="Real email, okay?" name="email">
            </div>
            <div class="form-group">
                    <label for="InputSubject">Subject:</label>
                    <input class="form-control" type="email" id="InputSubject" placeholder="Subject" required pattern="[A-Za-z]+" title="Name in Alphabet!" name="name">
            </div>
            
            <div class="form-group">
                    <label for="InputMessage">Message:</label>
                    <textarea class="form-control"  rows="5" id="InputMessage" placeholder="Your Message" title="Leave a message!" name="message"></textarea>
            </div>
            <div class="form-group" id="submitbutton">
                <button type="button" class="btn d-flex" id="submit-button" title="Go, go!" onclick="alert('It is submitted!')">Submit</button>
            </div>
            
        </div>

        <div class="footer" id="contacts">
                {% include "appsatu/contacts.html" %}
            </div>
    </body>
</html>