<!DOCTYPE html>
<html lang="en">
	<head>
	{% include 'appsatu/base.html' %}
	{% load staticfiles %}
	{% load static %}
	{%block content %}

	<title>Eyebrow?</title>
	

	</head>
	<body>


		<div class="header" id="header">
			<h1>ALYA ISTI SAFIRA</h1>
			<h3>A long-life learner.</h3>
			<a href="#mainpage" class="btn btn-dark" role="button">KNOW MORE &#8595</a>
			<a href="#tenthpage" class="btn btn-dark" role="button">CONTACT ME</a>	
		</div>

		<div id ="nav-placeholder">
			{% include "appsatu/navbar.html" %}
			{% include "appsatu/navbarscript.html" %}
		</div>
		
		<div class="jumbotron" id="mainpage">
			<p>Hello! I'm</p>
			<h1 id="myname"><strong>Alya Isti Safira</strong></h1> <br>
			<img id="idalis" class="imagesaya" src="https://i.imgur.com/JDjlYZ8.jpg" alt="Alya Isti" width="320px" height= "320px"><br>
			<h3 class="frontpage" id="satu" > {{ myDegree }} in <br> Faculty of Computer Science, <br>Universitas Indonesia</h3>
			<h3 class="frontpage" id="dua">Majoring in Information System</h3>
			<h3 class="frontpage" id="satu" >Passionate in Marketing field</h3>
			<h3 class="frontpage" id="dua">Lives in the world of concepting</h3>
		</div> 


		<div class="jumbotron" id="secondpage">
			<img class="descriptions" src="http://www.calstatela.edu/sites/default/files/groups/Career%20Development%20Center/Images/self_assessment.png" alt="aboutme" width="200px" height="200px">
			<h2>ABOUT ME</h2>
			<h3>I am {{ myAge }} years old. <br>
					Born at 23rd June 2000.<br>
					Born in Jakarta. <br>
					An ENFP.</h3>
			<h3>I love dogs.<br>
					I love piano. <br>
					I love music. <br>
					I love to swim, and badminton playing. <br>
					I love to read. </h3>
			<h3>I make songs. And webtoon.
					Jump <a href="{% url 'projects' %} target=_blank"><kbd>here</kbd></a> to see.</h3>
		</div>

		<div class="jumbotron" id="thirdpage">
			<img class="descriptions" src="https://ubisafe.org/images/sprocket-vector-skill-1.png" alt="descriptions" width="200px" height="200px">	
			<h2>DESCRIPTION</h2>
			<h3><strong>Active</strong></h3>
			<h4>I am a critical person. I have high curiousity. I am innovative <br>
				 and full of fresh ideas. I love to critize people and I love being criticized.</h4>
			<h3><strong>Positive</strong></h3>
			<h4>I believe I can do anything as long as I have the will.<br>
				I create good vibes to people around me.</h4>
			<h3><strong>Expressive</strong></h3>
			<h4>I like to appreciate every little things.<br>
				I am eager to learn new things.</h4>
			<h3><strong>Sensitive</strong></h3>
			<h4>I can sense people and environment very well.<br>
				 I can adapt to new environment pretty fast.</h4>
		</div>

		
		<div class="jumbotron" id="fourthpage">
			<img class="education" src="http://cdn.onlinewebfonts.com/svg/img_532449.png" alt="School" width="200px" height="200px">	
			<h2>EDUCATION</h2>
			<ul class="timeline">
				<li class="event">
				<h3><strong>TK Kartini</strong></h3>
				<p>2004-2006</p>
				</li>
				<li class="event">
				<h3><strong>SD Islam Al-Azhar 1 Pusat</strong></h3>
				<p>2006-2012</p>    
				</li>
				<li class="event">
				<h3><strong>SMP Islam Al-Azhar 1 Pusat</strong></h3>
				<p>2012-2014</p>    
				</li>
				<li class="event">
				<h3><strong>SMAN 78 Jakarta</strong></h3>
				<p>2014-2017</p>    
				</li>
				<li class="event">
				<h3><strong>Universitas Indonesia</strong></h3>
				<p>Information System</p>
				<p>2017-Now</p>
				</li>
			</ul>
		</div>



		<div class="jumbotron" id="fifthpage">
			<h2 id=skill>SKILLS</h2>
			<p id="skillname">Typing</p>
			<div class="container">
			<div class="skills typing">75%</div>
			</div>
			
			<p id="skillname">Public Speaking</p>
			<div class="container">
				<div class="skills publicspeaking">85%</div>
			</div>
			
			<p id="skillname">Online Marketing</p>
			<div class="container">
				<div class="skills onlinemarketing">85%</div>
			</div>
			
			<p id="skillname">Event Organizing</p>
			<div class="container">
				<div class="skills eventorganizing">80%</div>
				</div>

			<p id="skillname">Programming | Python</p>
			<div class="container">
					<div class="skills python">70%</div>
			</div>

			<p id="skillname">Programming | Java</p>
			<div class="container">
					<div class="skills java">80%</div>
			</div>
			<p id="skillname">Programming | HTML</p>
			<div class="container">
					<div class="skills html">75%</div>
			</div>
			<p id="skillname">Programming | CSS</p>
			<div class="container">
					<div class="skills css">70%</div>
				</div>
			<p id="skillname">Language | English</p>
			<div class="container">
					<div class="skills english">90%</div>
			</div>
			<p id="skillname">Language | Korean</p>
			<div class="container">
					<div class="skills korean">75%</div>
			</div>


			

		</div>

		<div class="jumbotron" id="sixthpage">
			<img class="experience" src="https://static.thenounproject.com/png/1090559-200.png" alt="briefcase" width="200px" height="200px">
			<h2>EXPERIENCES</h2><br>
			<div class="flex-container">
				<div class="experienceorganization">
					<h3>Organization Experience</h3>
					<h4><strong>Student Council in 78 Senior High School</strong><br>
						Deputy of Regeneration Division <br>
						Staff of Cultural Division</h4>	
					<h4><strong>78 Senior High School Journalism</strong><br>
						Human Resources Development</h4>
					<h4><strong>Computer Science Student Representative Board</strong><br>
						Staff of Steering Committee Division</h4>
					<h4><strong>Asciipella, organization for music lover <br>
								in Faculty of Computer Science</strong><br>
								Head of Instrument Division</h4>
				</div>

				<div class="experiencevolunteer">
					<h3>Project & Volunteer Experience</h3>
					<h4><strong>Student Council Team Building and Regeneration</strong><br>
						Project Officer</h4>
					
					<h4><strong>Open House Fasilkom UI 2017</strong><br>
						Staff of Public Relations and Publication</h4>

					<h4><strong>AIESEC UI</strong><br>
							Jakarta Environmental Care Project Winter 2018 - EP Buddy</h4>

					<h4><strong>The 25th Computers Get Together</strong><br>
						Staff of Event</h4>

					<h4><strong>COMPFEST X</strong><br>
						Staff of Seminar</h4>

					<h4><strong>UNIVERSIADE UI 2018</strong><br>
						Vice Person in Charge of Publication</h4>

				</div>
			</div> <br>
		</div>
				
		
				
		<div class="jumbotron" id="ninthpage">
			<img class="achievements" src="http://www.pechemoderne.com/wp-content/uploads/2016/02/cup.png" alt="trophy" width="200px" height="200px">
			<h2>ACHIEVEMENTS</h2>
			<h4><strong>3rd Winner</strong><br>
					4th Grade Islamic Religion Competition in Al-Azhar National Competition</h4>

			<h4><strong>Platinum Award</strong><br>
					Asian Student Exchange Program in Kaohsiung, Taiwan</h4>

			<h4><strong>3rd Prize</strong><br>
					Valedictorian, Certificate of Completion in Junior High School</h4>

			<h4><strong>Prize for Theory 2014, 2015</strong><br>
					Yayasan Pendidikan Musik</h4>

			<h4><strong>2nd Prize</strong><br>
					Presentation summit of English for Adults in LBPP LIA Grogol</h4>

			<h4><strong>Silver Medalist</strong><br>
					Swimming Competition for Women Changing Relay in Freestyle in Olimpiade UI</h4>

			<h4><strong>Bronze Medalist</strong><br>
					Swimming Competition for Women Freestyle Relay in Olimpiade UI</h4>
		</div>
		

		<div class="jumbotron" id="tenthpage">
		</div>

		<div class="footer" id="eleventhpage">
			{% include "appsatu/contacts.html" %}
		</div>
		{% endblock %}
	</body>
</html>

