<!DOCTYPE html>
<html lang="en">
	<head>
    {% include 'appsatu/base.html' %}
    {% load staticfiles %}
    {% load static %}
    
	<title>Eyebrow's Projects!</title>
    </head>

    <body>

        <div id ="nav-placeholder">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#mainpage">Alya Isti</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'aboutme' %}">&#8592 BACK TO HOME</a></li>
                        <li><a href="#eightpage"> SPECIAL PROJECT</a></li>
                        <li><a href="{% url 'guestpage' %}">GUEST PAGE</a></li>
                        <li><a href="{% url 'schedule' %}">FORM</a></li>
					    <li><a href="{% url 'table' %}">TABLE</a></li>
                        <li><a href="#contacts">CONTACT ME</a></li>
                    </ul>
                </div>
            </nav>	
            {% include "appsatu/navbarscript.html" %}
            </div>

        <div class="jumbotron" id="seventhpage">
            <img class="Webtoon" src="https://png.icons8.com/metro/1600/paint-bucket.png" alt="briefcase" width="200px" height="200px">
            <h2>PROJECTS</h2><br>
            <img title="Hazriel, In Haze 2018" class="imagewebtoon" src="https://i.imgur.com/XP2uRtg.jpg" alt="Haze" width="320px" height= "320px">
            <img title="Camila, In Haze 2018" class="imagewebtoon" src="https://i.imgur.com/kHwTjAR.jpg" alt="Mila" width="320px" height= "320px">
            <br><br>
            <h4>I make Webtoon Challenge. <br>
                As the mastermind, I organize the comic panels and manage the story plot. <br>
                I collaborate with my talented artist friend.<br>
                    Click <a href="https://bit.ly/WebtoonInHaze"><kbd>here</kbd></a> to see.</h4>
        </div>
        
        <div class="jumbotron" id="eightpage">
            <img class="education" src="https://png.icons8.com/metro/1600/music.png" alt="music" width="200px" height="200px">	
            <h2>SPECIAL PROJECTS</h2><br>
            <a href="https://www.instagram.com/p/BmqdlKhgMIG/?hl=en&taken-by=twin.brows"><img class="imagesong" src="https://i.imgur.com/ok27szs.jpg" title="Song 1" alt="Song 1" width="220px" height= "220px"></a>
            <a href="https://www.instagram.com/p/BmtGMIbAUVy/?hl=en&taken-by=twin.brows"><img class="imagesong" src="https://i.imgur.com/wJ1W2jH.jpg" title= "Song 2" alt="Song 2" width="220px" height= "220px"></a>
            <a href="https://www.instagram.com/p/Bm52v-Aha-b/?hl=en&taken-by=twin.brows"><img class="imagesong" src="https://i.imgur.com/EvsYpPIg.jpg" title="Song 3" alt="Song 3" width="220px" height= "220px"></a>
            <a href="https://www.instagram.com/p/Bm8e3r6Bido/?hl=en&taken-by=twin.brows"><img class="imagesong" src="https://i.imgur.com/SsFauWz.jpg" title="Song 4" alt="Song 4" width="220px" height= "220px"></a>
            <a href="https://www.instagram.com/p/BnLzjGmB6ru/?hl=en&taken-by=twin.brows"><img class="imagesong" src="https://i.imgur.com/oJ9KfBp.jpg" title="Song 5" alt="Song 5" width="220px" height= "220px"></a>
            <a href="https://www.instagram.com/p/BndxtP8h_4h/?hl=en&taken-by=twin.brows"><img class="imagesong" src="https://i.imgur.com/1jVsfcj.jpg" title="Song 6" alt="Song 6" width="220px" height= "220px"></a>
            <br>
            <h4>Check out my songs! Just click it and you'll know.</h4>
        </div>

        <div class="footer" id = "contacts">
            {% include "appsatu/contacts.html" %}
        </div>
    </body>

</html>



